<!DOCTYPE html>
<html>

<head>
    <title>Zainab Todo</title>
    <link href="/style.css" rel="stylesheet" />
</head>

<body>
    <div class="logo-ctn">
        <img class="logo" src="/images/zainab.png" alt="Zainab-Logo">
    </div>
    <section class="err-cntn">
        <h2>Error</h2>
        <p>
            <%= error %>
        </p>
        <a class="pri-btn err-btn" href="/">Go back home</a>
    </section>

</body>

</html>