<!DOCTYPE html>
<html>

<head>
    <title>My Todos</title>
</head>

<body>
    <div class="overlay">
        <form method="post">
            <label>
                Email
                <input type="email" class="email" value="email" name="email" />
            </label>

            <label>
                Password
                <input type="passowrd" class="password" value="password" name="password" />
            </label>

        </form>
    </div>

    <button>Add</button>
</body>

</html>