<!DOCTYPE html>
<html>

<head>
    <title>Zainab Todo</title>
    <link href="/style.css" rel="stylesheet" />
</head>

<body>
    <div class="logo-ctn">
        <img class="logo" src="/images/zainab.png" alt="Zainab-Logo">
    </div>
    <section class="err-cntn four0four-cntn">
        <div class="img-ctn">
            <img class="not-found-image" src="/images/notFound.png" alt="not-found-image">
        </div>
        <h2>Page not Found</h2>
        <p>You seem to have lost your way</p>
        <a class="pri-btn err-btn" href="/">Go back home</a>
    </section>

</body>

</html>