<!DOCTYPE html>
<html>

<head>
    <title>Zainab Todo</title>
    <link href="/style.css" rel="stylesheet" />
</head>

<body>
    <div class="logo-ctn">
        <img class="logo" src="/images/zainab.png" alt="Zainab-Logo">
    </div>
    <section class="form-ctn">

        <h2>Sign up</h2>
        <form class="form" id="auth-form" action="/signup" method="post">
            <label>
                Name
                <input type="text" class="name" name="name" />
            </label>

            <label>
                Email
                <input type="email" class="email" name="email" />
            </label>

            <label>
                Password
                <input type="password" class="password" name="password" />
            </label>

            <button type="submit" class="pri-btn">Sign up</button>

            <% if (error.length> 0) { %>
                <div class="error-message">
                    <%= error[0] %>
                </div>
                <% } %>
        </form>
        <p>Aready have an account? <a class="auth-link" href="/login">Login</a></p>
    </section>

</body>

</html>