@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #2E2013;
    font-family: "League Spartan", san-serif;
}

.logo-ctn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.logo {
    width: 100px;
}

.todo-list-cont,
.form-ctn {
    background-color: #AB8057;
    color: #2E2013;
    width: 500px;
    margin: 20px auto;
}

.todo-list-cont {
    position: relative;
    overflow-y: auto;
    height: 500px;
}

.form-ctn {
    margin: 40px auto;
    width: 350px;
    padding: 20px;
}

.form-ctn h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.form-ctn p {
    padding-top: 12px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.pri-btn {
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    background-color: #2E2013;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #AB8057;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.header>h1 {
    font-family: "Jaini Purva", serif;
    font-size: 28px;
    font-weight: 500;
}

.button-ctn {
    display: flex;
    gap: 8px;
}

#open-modal-btn {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    padding: 8px;
    padding-left: 30px;
    background-color: #FFFFFF;
    color: #AB8057;
    border: none;
    cursor: pointer;
}

#open-modal-btn::before {
    content: "+";
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background-color: #AB8057;
    color: white;
    left: 6px;
}

.open-logout-modal-btn {
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    color: #A09E9E;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.todos-ctns {
    display: flex;
    flex-direction: column;
}

.todos-ctns > h2 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
}

.todo-ctn {
    display: flex;
    gap: 12px;
    margin: 4px 20px;
    padding: 20px 20px;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 420px;
}

.todo-complete {
    background-color: rgba(255, 255, 255, 0.4);
    ;
    color: #8B8888;

    .status-tag,
    .delete-btn {
        color: #8B8888;
    }

    ;

    .circle {
        background-color: #8B8888;
    }
}

.check-btn,
.delete-btn {
    cursor: pointer;
}

.todo-complete>.status-tag {
    color: #8B8888
}

.todo-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.todo-details>label {
    font-size: 16px;
    font-weight: 600;
}

.todo-details>p {
    font-size: 14px;
    font-weight: 400;
}

.div-btn {
    display: flex;
    align-items: center;
    gap: 8px
}

.status-tag {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #19D742;
}

.circle {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #19D742;
}

.delete-btn {
    background-color: transparent;
    color: #A1130B;
    padding: 4px;
    height: 30px;
    border: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
    background-color: #2E2013;
    padding: 32px;
    margin: 60px auto;
    width: 400px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(140, 140, 140, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form>label {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 4px
}

input,
textarea {
    background-color: #ffffff;
    border: none;
    font-family: "League Spartan", san-serif;
    font-size: 16px;
}

input {
    height: 32px
}

textarea {
    height: 60px;
}

#logout-modal>h3 {
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    padding-bottom: 20px;
}

.btns {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-top: 12px;
}

.add-todo-btn,
.logout-btn {
    font-family: "League Spartan", san-serif;
    background-color: #AB8057;
    padding: 12px;
    font-size: 14px;
    border-radius: 0px;
    border: none;
    color: #FFFFFF;
    text-decoration: none;
    width: 180px;
    cursor: pointer;
}

#close-modal-btn,
#close-logout-btn {
    font-family: "League Spartan", san-serif;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    padding: 12px;
    font-size: 14px;
    width: 180px;
    cursor: pointer;
}